<div class="ui modal">
    <div class="header">Create a new project</div>

    <form action="/create_project" method="POST" class="ui form">
        <div class="ui segment">
            <div class="field">
                <div class="ui left input" data-tooltip="Enter the projects title"
                     data-position="left center">
                    <input type="text" name="project_title" placeholder="Project Title">
                </div>
            </div>
            <div class="field">
                <label>Project Description</label>
                <textarea type="text" name="project_description" placeholder="Project Description"></textarea>
            </div>
            <div class="ui teal submit button">Submit</div>
            <div class="ui clear button">Clear</div>
            <div class="ui cancel button">Cancel</div>
            <div class="ui error message"></div>
        </div>

    </form>

</div>