<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{{ siteTitle }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/semantic/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/semantic/semantic.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/semantic/grid.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/custom.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/semantic/login.css') }}">


    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- Javascript
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="{{ url_for('static', filename='javascript/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/semantic/semantic.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/semantic/less.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/semantic/highlight.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/semantic/docs.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/semantic/sidebar.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/semantic/widgets.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/semantic/form.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/semantic/transition.js') }}"></script>


</head>

{% block body %}{% endblock %}
