
<body>
<div class="ui vertical sidebar menu left" id="toc" style="z-index: 999">
    <div class="item">
        <div class="header">Test Topic</div>
        <div class="menu">
            <a href="#" class="item" title="Test Link&nbsp;&#8594;">Test Link</a>
        </div>
    </div>
</div>

<style type="text/css">
   body {
        background-color: #FFFFFF;
    }

    .ui.menu .item img.logo {
        margin-right: 1.5em;
    }



    .wireframe {
        margin-top: 2em;
    }

    .ui.footer.segment {
        margin: 5em 0em 0em;
        padding: 5em 0em;
    }
</style>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="ui fixed inverted main menu">

    <!--Header-->
    <div class="ui container">
        <!--Menu Icon-->
        <!--<div class="left menu">-->
        <a class="launch icon item" title="Menu Toggle Button&nbsp;&#8614;">
            <i class="content icon"></i>
        </a>

        <!-- User Message -->
        <span href="#" class="header item" title="User Welcome">
                <img class="logo"
                     src="{{ url_for('static',filename='styles/semantic/assets/images/default_profile_pic.png') }}"
                     alt="Default Profile Image"
                />
                <span class="welcome-message">Willkommen zurück,</span>
                &nbsp;
                <span class="user-name">Albert Ampel</span>
            </span>

        <div class="ui secondary menu right">
            <a href="#" class="ui active item" title="Dashboard&nbsp;&#8635;">Dashboard</a>

            <div class="ui simple dropdown item">
                Dropdown <i class="dropdown icon"></i>
                <div class="menu" style="margin-top: 0;">
                    <a class="item" href="#">Logout <i class="power off icon right"></i></a>
                    <a class="item" href="#">Link Item</a>
                    <div class="divider"></div>
                    <div class="header">Header Item</div>
                    <div class="item">
                        <i class="dropdown icon"></i>
                        Sub Menu
                        <div class="menu">
                            <a class="item" href="#">Link Item</a>
                            <a class="item" href="#">Link Item</a>
                        </div>
                    </div>
                    <a class="item" href="#">Link Item</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui main container">
    <!--Card Block-->
    <div class="ui three link cards">
        <div class="red card">
            <div class="image">
                <!--<img src="/images/avatar2/large/matthew.png">-->
            </div>
            <div class="content">
                <div class="header">Overdue Test Card</div>
                <div class="meta">
                    <a>Friends</a>
                    <span class="right floated time" data-content="22.05.18 - 17:45" data-variation="tiny">Yesterday</span>
                </div>
                <div class="description">
                    Matthew is an interior designer living in New York.
                </div>
            </div>
        </div>
        <div class="orange card">
            <div class="image">
                <!--<img src="/images/avatar2/large/matthew.png">-->
            </div>
            <div class="content">
                <div class="header">Test Card</div>
                <div class="meta">
                    <a>Meeting #1</a>
                    <span class="open-tasks">&#149;&nbsp;&nbsp;3 Tasks</span>
                    <span class="right floated time" title="23.05.18 - 12:45">2 hours</span>
                </div>
                <div class="description">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et
                    ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                    ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                    et
                    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                    rebum.
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.Lorem
                    ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                    et
                    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                    rebum.
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <!--<img src="/images/avatar2/large/matthew.png">-->
            </div>
            <div class="content">
                <div class="header">Test Card</div>
                <div class="meta">
                    <a>Meeting #1</a>
                    <span class="open-tasks">&#149;&nbsp;&nbsp;3 Tasks</span>
                    <span class="right floated time" title="23.05.18 - 12:45">2 hours</span>
                </div>
                <div class="description">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et
                    ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                    ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                    et
                    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                    rebum.
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <!--<img src="/images/avatar2/large/matthew.png">-->
            </div>
            <div class="content">
                <div class="header">Test Card</div>
                <div class="meta">
                    <a>Meeting #1</a>
                    <span class="open-tasks">&#149;&nbsp;&nbsp;3 Tasks</span>
                    <span class="right floated time" title="23.05.18 - 12:45">2 hours</span>
                </div>
                <div class="description">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et
                    ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                    ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                    et
                    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                    rebum.
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <!--<img src="/images/avatar2/large/matthew.png">-->
            </div>
            <div class="content">
                <div class="header">Test Card</div>
                <div class="meta">
                    <a>Meeting #1</a>
                    <span class="open-tasks">&#149;&nbsp;&nbsp;3 Tasks</span>
                    <span class="right floated time" title="23.05.18 - 12:45">2 hours</span>
                </div>
                <div class="description">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et
                    ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                    ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                    et
                    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                    rebum.
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>