{% extends "head.html" %}
{% block body %}
    </head>
    <body>
    <div class="ui vertical sidebar menu left" id="toc" style="z-index: 999">
        {{ activeProjectLinks }}
    </div>

    <style type="text/css">
        body {
            background-color: #FFFFFF;
        }

        .ui.menu .item img.logo {
            margin-right: 1.5em;
        }

        .wireframe {
            margin-top: 2em;
        }

        .ui.footer.segment {
            margin: 5em 0em 0em;
            padding: 5em 0em;
        }
    </style>

    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="ui fixed inverted main menu">

        <!--Header-->
        <div class="ui container">
            <!--Menu Icon-->
            <!--<div class="left menu">-->
            <a class="launch icon item" title="Menu Toggle Button">
                <i class="content icon"></i>
            </a>

            <!-- User Message -->
            <a href="/profile" class="header item" title="Profile Page">
                <img class="logo"
                     src="{{ url_for('static',filename='styles/semantic/assets/images/default_profile_pic.png') }}"
                     alt="Default Profile Image"
                />
                <span class="greet-message">{{ greetMessage }}</span>
                &nbsp;
                <span class="user-name">{{ userName }}</span>
            </a>

            {# ---- Dynamic action menu buttons ----- #}
            {{ navbarAction }}

            {# ---- Static user buttons ---- #}
            <div class="ui right secondary menu">
                <a class="item" href="/">
                    <i class="ui icon home"></i>
                    &nbsp;Dashboard
                </a>
                <a class="item" href="/logout">
                    <i class="ui icon power off"></i>
                    &nbsp;Logout
                </a>
            </div>

        </div>
    </div>

    <div class="ui main container">
        <!--Card Block-->

        {{ templateModal }}
        {{ htmlMainContent }}

    </div>
    </div>

    <!-- End Document
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <script>
        $(document).ready(function () {

            {# ---- Timestamp reformatting ---- #}
            $('.ui.date').each(function () {
                var $dateField = $(this)[0];
                var oldDate = $dateField.innerText.split(' ');
                var _date = {
                    'year': oldDate[0].split('-')[0].slice(-2),
                    'month': oldDate[0].split('-')[1],
                    'day': oldDate[0].split('-')[2],
                    'hour': oldDate[1].split('-')[0],
                    'minute': oldDate[1].split('-')[1]
                };
                $dateField.innerText = _date.hour + ':' + _date.minute + ' - '
                    + _date.day + '.' + _date.month + '.' + _date.year;
            });

            {# ---- New Project Buttons ---- #}
            var $uiModal = $('.ui.modal');
            $uiModal.modal('attach events', '#newProject', 'show');
            $('.ui.cancel.button').on('click', function (ev) {
                $(this).parent().parent().parent().modal('hide');
            });
            $('.ui.clear.button').on('click', function (ev) {
                $(this).parent().parent().form('clear');
            });
            $('.ui.submit.button').on('click', function (ev) {
                $(this).parent().parent().parent().modal('hide');
            });
            {# New Project Form definition #}
            $('.ui.form').form({
                fields: {
                    project_title: 'empty',
                    project_description: 'empty'
                }
            });
        });
    </script>

    </body>
{% endblock %}