.task-card-box {
    box-shadow: 1px 1px 20px 0 #d6d6d6;
    border-radius: 5px;
    overflow: hidden;
    transition: box-shadow .5s ease;
    background: #fff;
}

.task-card-box:hover {
    box-shadow: 0 5px 40px 0 #c5c5c5;
}

.task-card {
    margin: 3% 5%;
}

.task-card > p {
    text-align: justify;
}
